{% extends "base.html" %}

{% block title %}
    <title>Login</title>
{% endblock %}

{%block body %}
    <div class="row">
        {% if msg_fail or msg_warning %}
            {% if msg_warning %}
                <a href='{% url "home:Home" %}' class="btn btn-warning btn-lg btn-block" role="button">{{ msg_warning}}</a>
            {% endif %}
            {% if msg_fail %}
                <a href="{% url 'users:Login' %}" class="btn btn-danger btn-lg btn-block" role="button">{{ msg_fail }}</a>
            {% endif %}
        {% else %}
            <div class="col-sm-4"></div>       <!-- span di 4 colonne vuote-->
            <div class="col-sm-3">              <!-- 3 colonne centrali-->
                <div  class="thumbnail">
                    <form  method="post" action=""> <!-- Inoltrato alla stessa pagina-->
                        {% csrf_token %}
                        {% for field in form %}
                            <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        <button type="submit" class="btn btn-success">Esegui Login</button> <a href="javascript:history.back()" class="btn btn-info" role="button">Indietro</a>
                    </form>
                    <p>Non hai un account su Ilquadernodellostudente? <a href='{% url 'users:Signup' %}'>Creane uno!</a></p>
                </div>
            </div>
            <div class="col-sm-5"></div>       <!-- span di 5 colonne vuote-->
        {% endif %}
    </div>
{% endblock %}



